<div class="mb-3">
    <label class="form-label">{{label}}</label>
    <input name="{{name}}" class="form-control species" autocomplete="off" data-species-type="{{speciesType}}" {{#if required}}required{{/if}} {{#if value}}value="{{value}}"{{/if}}/>
    {{#if help_text}}
        <div class="form-text">{{{help_text}}}</div>
    {{/if}}
 </div>
